
              <!-- page start-->
<div class="row">
    <div class="col-sm-6">
     <!--   <section class="panel"> -->
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Cpf</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="livro in livros.rows">
                        <td>{{livro.idlivros}}</td>
                        <td>{{livro.nome}}</td>
                    </tr>
                </tbody>
            </table>
           </div>
       <!-- </section> -->
    </div> 
</div>